body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f5f9; /* Светлый фон для всего приложения */
}

/* Это важно: заставляем корневой элемент и App занимать всю высоту */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; /* Заставляет <main> занять всё доступное пространство между хедером и футером */
  padding-top: 0; /* Компенсируем высоту хедера, который позиционирован абсолютно */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}